.increaserSection {
    padding: 80px 0;

    @media (max-width:576px) {
        padding: 40px 0;
    }

    .container {
        max-width: 1372px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .gridoverlay {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media (max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @media (max-width:576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
    }

    .card {
        padding: 30px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.882);
        border: 1px solid #1f1f1f;
        text-align: center;
        transition: all 0.4s ease;

        @media (max-width:576px) {
            padding: 20px;
        }

        &:hover {
            transform: translateY(-10px) scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            border-color: #1f1f1f;
        }

        h2 {
            font-size: 50px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 8px;

            @media (max-width:1024px) {
                font-size: 44px;
            }

            @media (max-width:576px) {
                font-size: 32px;

            }
        }

        p {
            font-size: 16px;
            color: #1f1f1f;
            letter-spacing: 1px;
            text-transform: uppercase;

            @media (max-width:1024px) {
                font-size: 14px;
            }
        }
    }
}