.callbubble {
    position: fixed;
    bottom: 120px; // above WhatsApp
    right: 50px;
    z-index: 99;
    padding: 14px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #0b5ed7;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

    @media (max-width: 1024px) {
        bottom: 100px;
        right: 30px;
    }

    @media (max-width: 768px) {
        bottom: 80px;
        right: 20px;
         padding: 10px;
    }

    svg {
        font-size: 22px;
        color: #fff;
    }

    span {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: #fff;
        max-width: 0;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 0;
        display: inline-block;
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        span {
            max-width: 120px;
            margin-right: 8px;
        }
    }
}