.hero {
    background-image: url(../../assests/images/common.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

    @media (max-width: 1024px) {
        height: 400px;
    }

    @media (max-width: 576px) {
        height: 300px;
    }

    .blurbg {
        backdrop-filter: blur(4px);
        background-color: #1b1b1b80;
        height: 500px;

        @media (max-width: 1024px) {
            height: 400px;
        }

        @media (max-width: 576px) {
            height: 300px;
        }

        .container {
            max-width: 1300px;
            margin: 0 auto;
            padding: 0 20px;
            height: 100%;
        }


        .content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            h1 {
                font-size: 58px;
                font-weight: 700;
                color: #ffffff;

                @media (max-width: 1024px) {
                    font-size: 48px;
                }

                @media (max-width: 576px) {
                    font-size: 36px;
                }
            }

            p {
                font-size: 28px;
                font-weight: 400;
                line-height: 1.6;
                color: #ffffff;

                @media (max-width: 1024px) {
                    font-size: 26px;
                }

                @media (max-width: 576px) {
                    font-size: 22px;
                }
            }
        }
    }
}