.servicesSection {
    background: linear-gradient(135deg, #ffffff 0%, #dfdfdf 100%);
    padding: 40px 0;

    .container {
        max-width: 1372px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .heading {
        text-align: center;

        span {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #000;
            display: block;
            margin-bottom: 12px;


            @media (max-width:1024px) {
                margin-bottom: 10px;
            }
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: #000;
            margin-bottom: 50px;
            line-height: 1.3;
            position: relative;

            @media (max-width:1024px) {
                margin-bottom: 30px;
                font-size: 34px;
                text-align: center;
            }

            @media (max-width:576px) {
                font-size: 28px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 120px;
                height: 4px;
                background-color: #000;
                border-radius: 2px;

                @media (max-width:576px) {
                    height: 3px;
                }
            }
        }
    }

    .slider {
        position: relative;
    }

    .card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        // margin: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-6px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }

        .imageWrapper {
            width: 100%;
            height: 500px;
            overflow: hidden;

            @media (max-width:576px) {
                height: 400px;
            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.4s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .content {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #000000d5;
            text-align: center;
            padding: 14px;

            h3 {
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                margin: 0;

                @media (max-width:576px) {
                    font-size: 16px;
                }
            }
        }
    }

    /* Arrows */
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        background: #000;
        color: #fff;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;

        @media (max-width:576px) {
            height: 30px;
            width: 30px;
        }

        &:hover {
            background: #333;
        }
    }

    .prev {
        left: -25px;
    }

    .next {
        right: -25px;
    }

    @media (max-width: 768px) {
        .prev {
            left: -10px;
        }

        .next {
            right: -10px;
        }
    }
}