.servicesSection {
    background: linear-gradient(135deg, #ffffff 0%, #dfdfdf 100%);
    padding: 40px 0;

    .container {
        max-width: 1372px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .heading {
        text-align: center;

        span {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2px;
            color: #000;
            display: block;
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: #000;
            margin-bottom: 50px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 120px;
                height: 4px;
                background: #000;
                border-radius: 2px;
            }

            @media (max-width: 576px) {
                font-size: 28px;
            }
        }
    }

    .slider {
        position: relative;
    }

    .card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        transition: 0.3s ease;
        border: 1px solid #c7c7c7;

        &:hover {
            transform: translateY(-6px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }

        .imageWrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;



            .image {
                height: 400px;
                object-fit: contain;
                background-size: contain;
                transition: transform 0.4s ease;

                @media (max-width: 576px) {
                    height: 300px;
                }
            }
        }

        &:hover .image {
            transform: scale(1.05);
        }

        .content {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #1f1f1f;
            padding: 14px;
            text-align: center;

            h3 {
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                margin: 0;

                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }
        }
    }
}