.featureSection {
    background: #fbfbfb;
    padding: 60px 0;

    @media (max-width:576px) {
        padding: 40px 0;
    }

    .container {
        max-width: 1372px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .gridfeature {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        @media (max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }


        .card {
            background: #ffffff;
            border-radius: 10px;
            text-align: center;
            padding: 35px 25px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            border: 1px solid transparent;

            @media (max-width:1024px) {
                padding: 25px 20px;
            }

            @media (max-width:576px) {
                padding: 20px 10px;
            }

            &:hover {
                transform: translateY(-8px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
                border: 1px solid #1f1f1f;
            }

            .icon {
                color: #1f1f1f;
                font-size: 38px;
                margin-bottom: 15px;

                @media (max-width:576px) {
                    font-size: 32px;
                    margin-bottom: 5px;
                }
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #000000;
                margin-bottom: 10px;
                letter-spacing: 0.5px;

                @media (max-width:576px) {
                    font-size: 16px;
                }
            }

            p {
                font-size: 16px;
                color: #555;
                line-height: 1.6;

                @media (max-width:576px) {
                    font-size: 14px;
                }
            }
        }
    }
}