@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

a {
  text-decoration-line: none;

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1372px;
  margin: 0 auto;
  padding: 0 20px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.iti__tel-input[type=tel] {
  width: 100%;
}

.form-control {
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.iti__search-input-wrapper {
  padding: 10px 0;
}

.iti__search-input {
  outline: none;
}

.slick-slide {
  padding: 0 12px;
}


/* 
.layout {
  padding-top: 76px;
}

@media (max-width:1024px) {
  .layout {
    padding-top: 70px;
  }
}

@media (max-width:576px) {
  .layout {
    padding-top: 55px;
  }
} */