.header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);

  .container {
    max-width: 1372px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    .logo img {
      width: 180px;
      height: auto;

      @media (max-width: 576px) {
        width: 130px;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 40px;

      .ancer {
        font-size: 18px;
        color: #1f1f1f;
        text-decoration: none;
        font-weight: 500;
        transition: transform 0.25s ease-in-out, color 0.3s ease;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: #000;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: #2a2a2a;
          transform: scale(1.08);


          &::after {
            width: 100%;
          }
        }
      }

      /* Dropdown */
      .dropdown {
        position: relative;

        a {
          font-size: 18px;
          color: #1f1f1f;
          text-decoration: none;
          font-weight: 500;
        }

        .dropdownToggle {
          display: flex;
          align-items: center;
          gap: 6px;

          .icon {

            svg {
              width: 15px;
              height: 15px;
            }
          }
        }

        .dropdownMenu {
          position: absolute;
          top: 22px;
          left: 0;
          background: #fff;
          min-width: 330px;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 10px 0;
          display: none;
          flex-direction: column;
          z-index: 99;

          a {
            padding: 14px 20px;
            font-size: 16px;
            color: #252525;
            border-bottom: 1px solid #e0e0e0;

            &:hover {
              color: #000000;
              background-color: #d7d7d7;
            }
          }
        }

        &:hover .dropdownMenu {
          display: flex;
        }
      }

      .contactBtn {
        background: linear-gradient(135deg, #1f1f1f, #393939);
        color: #fff;
        padding: 10px 26px;
        border-radius: 35px;
        font-weight: 600;
        border: 1px solid transparent;
        transition: all 0.3s ease;

        &:hover {
          background: #fff;
          color: #000;
          border-color: #000;
        }
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .menuIcon {
      display: none;
      cursor: pointer;

      svg {
        width: 32px;
        height: 32px;
        color: #1f1f1f;

        @media (max-width: 576px) {
          width: 26px;
          height: 26px;
        }
      }

      @media (max-width: 1024px) {
        display: block;
      }
    }
  }
}