.footer {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 50px 0 20px 0;

    .container {
        max-width: 1372px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .logo {
        img {
            width: 180px;
            height: 100%;
            margin-bottom: 20px;
        }
    }

    a {
        color: #bfbfbf;
        text-decoration: none;
        font-size: 16px;
        max-width: 400px;

        @media (max-width: 576px) {
            font-size: 14px;
        }

        &:hover {
            color: #ffffff;
        }
    }

    .footerGrid {
        display: flex;
        gap: 50px;
        padding-bottom: 30px;


        @media (max-width: 1024px) {
            flex-wrap: wrap;
            gap: 30px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            gap: 20px;
            padding-bottom: 20px;
        }

        .brand {
            h3 {
                margin: 0 0 20px 0;
                font-size: 18px;
                font-weight: 600;

                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }

            h4 {
                font-size: 16px;

                @media (max-width: 576px) {
                    font-size: 15px;
                }
            }

            p {
                margin: 12px 0;
                font-size: 16px;
                display: flex;
                gap: 15px;
            }

            svg {
                height: 18px;
                width: 18px;
                min-width: 18px;

                @media (max-width: 576px) {
                    height: 16px;
                    width: 16px;
                    min-width: 16px;
                }

                path {
                    fill: #adadad;
                }
            }
        }

        .links {
            h4 {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;

                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 12px 0;
                    font-size: 16px;
                    transition: 0.3s ease;

                    svg {
                        width: 12px;
                        height: 12px;

                        @media (max-width: 576px) {
                            width: 10px;
                            height: 10px;
                        }

                        path {
                            fill: #adadad;
                        }
                    }
                }
            }
        }

        .products {
            h4 {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;

                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px 30px;

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 16px;
                    transition: 0.3s ease;

                    &:hover {
                        color: #ffffff;
                    }

                    svg {
                        width: 12px;
                        height: 12px;

                        @media (max-width: 576px) {
                            width: 10px;
                            height: 10px;
                        }

                        path {
                            fill: #adadad;
                        }
                    }
                }
            }
        }
    }

    .extra {
        padding-bottom: 20px;

        h4 {
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: 600;

            @media (max-width: 576px) {
                font-size: 16px;
            }
        }

        .social {
            display: flex;
            gap: 15px;

            a {
                height: 50px;
                width: 50px;
                background-color: #bfbfbf;
                transition: 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;

                &:hover {
                    background-color: #ffffff;
                }

                svg {
                    height: 26px;
                    width: 26px;

                    path {
                        fill: #000000;
                    }
                }
            }
        }

    }

    .footerBottom {
        p {
            text-align: center;
            font-size: 13px;
            border-top: 1px solid #5b5b5b;
            padding-top: 15px;
            color: #bfbfbf;

            @media (max-width: 576px) {
                font-size: 11px;
            }
        }
    }
}