.mailbubble {
  position: fixed;
  bottom: 190px; // above Call
  right: 50px;
  z-index: 99;
  padding: 14px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #dc3545;
  transition: all 0.4s ease-in-out;
  overflow: hidden;

  @media (max-width: 1024px) {
    bottom: 170px;
    right: 30px;
  }

  @media (max-width: 768px) {
    bottom: 140px;
    right: 20px;
     padding: 10px;
  }

  svg {
    font-size: 22px;
    color: #fff;
  }

  span {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    display: inline-block;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    span {
      max-width: 130px;
      margin-right: 8px;
    }
  }
}
